body
{
    background-color: aqua;
}
#show_popup
{
    float: right;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.one
{
    font-size: 20px;
    font-weight: bolder;
}
h1
{
    background-color: black;
    color: white;
}
@keyframes identifier 
{
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px lightgray;}    
}
canvas
{
    animation-name: identifier;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    border: 5px ridge aqua;
    border-radius: 20px;
    margin-top: 50px;
}